/* まみーのうつした */
:root[sizemode="fullscreen"]{ margin-top: 0px !important; }

#navigator-toolbox{
  border: 5px solid #171d26 !important;
  border-bottom: none !important;
  box-sizing:border-box;
  position: fixed !important;
  display: block;
  background-color: var(--lwt-accent-color,black) !important;
  transition: transform 82ms 33ms linear, opacity 82ms 33ms linear !important;
  transform-origin: top;
  line-height: 5px;
  z-index: 1;
  width: 100vw;
}

#navigator-toolbox > *{ line-height: normal }

#navigator-toolbox > *{
  width: 100%;
  -moz-appearance: none !important;
}

#navigator-toolbox:not(:focus-within):not(:hover){
  transform: rotateX(86deg);
  opacity: 0;
}

:root[sizemode="maximized"] #navigator-toolbox:not(:focus-within):not(:hover){ transform: rotateX(89.5deg) }

/* Don't apply transform before window has been fully created */
:root:not([sessionrestored]) #navigator-toolbox{ transform:none !important }

:root[customizing] #navigator-toolbox{
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{ display: none }

/* Uncomment this if tabs toolbar is hidden with hide_tabs_toolbar.css */
 /*#titlebar{ margin-bottom: -9px }*/

#browser, #browser-bottombox {
 /* Gray side borders for content area and bottom toolbars */
 border: 5px solid #171d26 !important;
}

/* ここまで */

/* ツリータブのヘッダーを削除する */
#sidebar-header {
  display: none;
}

